@using WechatOfficialAccount.Models.DTO
@{
    ViewData["Title"] = "基础支持-获取微信服务器地址信息";
}

<div class="container">

    <div class="row">
        @{
            List<GetIpAddressDto> getIpAddressDtoList = ViewData["GetIpAddressDtoList"] as List<GetIpAddressDto>;
            foreach (var item in getIpAddressDtoList)
            {
                var url = $"https://uri.amap.com/marker?position={@item.lon},{@item.lat}";

                <div class="col-3 mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F202003%2F06%2F20200306224349_okpsu.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1658696773&t=023bc1b7dea66f5318cfddb7a74df240" class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">@item.country - @item.city</h4>
                            <h5>@item.query</h5>
                            <h6>经度：@item.lon &nbsp;&nbsp; 纬度：@item.lat</h6>
                            <label class="card-text">@item.org</label>
                            <p class="card-text">@item.isp</p>
                            <a href="@url" class="btn btn-primary">服务器地址</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>